In this note we will take a look at the data provided for the Stochastic Modelling project. 

We take today to be 30-Aug-2013, and the expiry date of the options is 17-Jan-2015.

We can calculate the time-to-maturity $T$ in Python as follows:

In [2]:
import datetime as dt

today = dt.date(2013, 8, 30)
expiry = dt.date(2015, 1, 17)
T = (expiry-today).days/365.0


The file "discount.csv" contains information about the "zero rates" to be used for discounting.

In [4]:
import pandas

rate_df = pandas.read_csv('discount.csv')
rate_df.head()

   Day  Rate (%)
0    7   0.14981
1   14   0.17250
2   19   0.17595
3   47   0.23118
4   82   0.25150

In [5]:
rate_df.tail()

     Day  Rate (%)
41  3211   3.02904
42  3309   3.08490
43  3400   3.13462
44  3484   3.17912
45  3582   3.22880

For instance, to discount a cashflow paid 3400 days from today, the discount factor is

\begin{equation*}
\begin{split}
D(0,T) = e^{-0.0313462 \times \frac{3400}{365}}
\end{split}
\end{equation*}


If the payment date is not provided in the dataframe, you can interpolate for the zero rate.

The files "goog_call.csv" and "goog_put.csv" contain the best bid and offer prices of calls and puts on Google stock across a wide range of strikes. For the purpose of this project, we can assume that these are European options.

In [7]:
call_df = pandas.read_csv("goog_call.csv")
call_df.head()

       date    expiry  strike  best_bid  best_offer
0  20130830  20150117   320.0     525.3       528.8
1  20130830  20150117   340.0     505.8       509.2
2  20130830  20150117   350.0     496.0       499.2
3  20130830  20150117   360.0     486.3       489.4
4  20130830  20150117   370.0     476.5       479.7

In [8]:
put_df = pandas.read_csv("goog_put.csv")
put_df.head()

       date    expiry  strike  best_bid  best_offer
0  20130830  20150117   320.0      0.90        2.00
1  20130830  20150117   340.0      0.15        2.30
2  20130830  20150117   350.0      0.80        2.45
3  20130830  20150117   360.0      0.60        2.65
4  20130830  20150117   370.0      0.65        2.85

For each strike, the mid price is calculated as

\begin{equation*}
\begin{split}
\mbox{Mid Price} = \frac{\mbox{Best Bid} + \mbox{Best Ask}}{2}
\end{split}
\end{equation*}

Next, we also need to calculate the forward price

\begin{equation*}
\begin{split}
F = S_0 e^{rT}
\end{split}
\end{equation*}

From the data provided, we know that the closing price for Google stock on 30-Aug-2013 is $846.9

Based on the $r$ and $T$ value we have calculated, we can calculate the forward value $F$.

There is very limited liquidity on the in-the-money options -- market tends to trade at-the-money or out-of-the-money options.

This means that we should focus on:
- High strikes calls ($K \geq F$)
- Low strikes puts ($K \leq F$)

You should then be able to plot the implied volatilities:

<img src="s7mkt.png" alt="Drawing" style="width: 500px;" align="middle"/>